body{
    background: rgb(247, 131, 54);
}
.principio {
    position: absolute;
    background: rgb(235, 102, 50);
    height: 80px;
    width: 99%;
}

.barrab {
    position: absolute;
    height: 80x;
    width: 120px;
}

.barrab img {
    position: absolute;
    height: 80px;
}

.buscar {
    position: absolute;
    height: 80px;
    width: 900px;

    top: 0px;
    left: 100px;
}

.busq {
    position: absolute;
    height: 30px;
    width: 100%;
    top: 20px;
    left: 50px;
}

.redes {
    position: absolute;

    width: 110px;
    height: 33px;
    left: 90%;
    top: 20%;
}

.contenedor1 {
    position: absolute;
    width: 99%;
    height: 400px;
    top: 90px;
 
}

.flex-padre1 {
    width: 100%;
    height: 100%;
    display: flex;
}

.cont1 {
    width: 45%;
    height: 100%;
  
}

.cont1 h1 {
    position: relative;
    left: 20%;
    font-size: 2.5rem;
}

.cont1 p {
    position: relative;
    left: 20%;
    top: 5%;
}

.busq2 {
    position: relative;
    left: 20%;
    top: 15%;
   
    height: 30px;
    width: 300px;
}

.cont2 {
    width: 60%;
    height: 100%;

}

.contimg {
    position: relative;
    top: 30px;
    left: 40px;
    width: 680px;
    height: 350px;
}

.contenedor2 {
    position: absolute;
    width: 99%;
    height: 720px;
    top: 62%;
}

.flex-padre2 {
    width: 100%;
    height: 100%;
    display: flex;
}

.conten1 {
    display: flex;
    width: 70%;
    height: 100%;
  
    flex-direction: column;

}

.con1 {
    width: 100%;
    height: 30%;
  
    top: 20px;
}

.contenido {
    position: relative;
    width: 88%;
    height: 80%;
    top: 5px;
    left: 12%;
  
    border-color: black;
    border-radius: 5px;
    border-width: 3px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
}


.conten2 {
    width: 30%;
    height: 100%;
  
}



.con2 {
    width: 100%;
    height: 70%;

}

.otroscursos {
    position: relative;
    width: 88%;
    height: 93%;
    top: 5px;
    left: 12%;
   
    border-color: rgb(14, 13, 13);
    border-radius: 5px;
    border-width: 3px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
}

.item-padre1 {
    display: flex;
    justify-content: space-around;
}

.item-padre2 {
    display: flex;
    justify-content: space-around;
}

.item-padre3 {
    display: flex;
    justify-content: space-around;
}

.cont{
    position: relative;
    left: 5%;
    top: 5px;
    width: 90%;
    height: 96%;
  
    border-color: rgb(14, 13, 13);
    border-radius: 5px;
    border-width: 3px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
}